:root{
    --main-color: #1F4E79;
    --main-bg-color: #F3F3F3;
    --main-font: "Cinzel", serif;
    --sec-font: "Cormorant Garamond", serif;
}

/* Start Intial Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: var(--main-font);
  overflow-x: hidden;
}
ul{
    list-style: None;
}
a{
    text-decoration: none;
}

/*End Intial Styles */

/* Start Components and Utilities */

.container {
    padding: 0 15px;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1230px;
    }
}

section {
  padding: 60px 0;
}

a.main-btn {
  display: block;
  width: fit-content;
  padding: 10px 18px;
  font: bold 18px var(--sec-font);
  color: #fff;
  background-color: var(--main-color);
  position: relative;
}

a.main-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 3px solid var(--main-color);
  transition: .2s;
}

a.main-btn:hover:after {
  top: 5px;
  left: 5px;
}

.heading {
  position: relative;
  margin-bottom: 40px;
}

.heading h1 {
  width: fit-content;
  margin: auto;
  padding: 10px;
  padding-bottom: 0;
  background: #fff;
  color: var(--main-color);
  font-size: 42px;
  font-weight: 450;
}

.heading hr {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

@media (min-width: 1024px) {
  .heading h1 {
    font-size: 64px;
  }
}

/* End Components and Utilities */
/* Start Header and Hero Section */

section.hero {
  background: url("../imgs/hero-background.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
}

@media (min-width: 1024px) {
  section.hero .side-decorator {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: var(--main-bg-color);
  }
}

header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font: bold 24px var(--sec-font);
  padding: 32px 0;
  justify-content: space-between;
}

header nav ul li:nth-of-type(2) {
  display: none;
}

header nav ul li.link {
  display: none;
}

header nav ul li.menu-btn button {
  all: unset;
}

header nav ul li a {
  color: #000;
}

header nav li:empty {
  height: 44px;
  width: 2px;
  background: #000;
}

section.hero main .container {
  padding: 23px 15px 80px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

section.hero main .container img {
  z-index: 1000;
  width: 100%;
  justify-self: center;
  grid-column: 3;
  order: 3;
}

section.hero main .container .text {
  grid-row: 1;
  grid-column: 1 / 4;
  z-index: 2000;
  order: 1;
}

section.hero main .container .text h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

section.hero main .container .text h1 span {
  color: var(--main-color);
}

section.hero main .container .text hr {
  width: 200px;
  border: 1px solid #000;
  margin: auto;
}

section.hero main .container .text h2 {
  color: var(--main-color);
  font: bold 32px var(--sec-font);
  text-align: center;
}

section.hero main .container .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 3;
  gap: 30px;
  order: 2;
}

section.hero main .container .links div > div {
  display: flex;
  align-items: center;
}

section.hero main .container .links div > a {
  display: block;
  font: bold 20px var(--sec-font);
  width: fit-content;
  padding: 10px;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: #fff;
}

section.hero main .container .links div:nth-of-type(2) > a {
  background-color: transparent;
  color: var(--main-color);
}

section.hero main .container .links div > hr {
  border: 1px solid var(--main-color);
  flex: 1;
}

section.hero main .container .links ul {
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
  align-items: center;
}

section.hero main .container .links ul hr {
  width: 70px;
  border: 1px solid var(--main-color);
}

section.hero main .container .links ul li a {
  color: #565656;
  font-size: 20px;
}

@media (max-width: 767px) {
  section.hero main .container {
    grid-template-columns: 1fr;
  }
  section.hero main .container img {
    grid-column: 1;
  }
  section.hero main .container .text {
    grid-column: 1;
  }
  section.hero main .container .links {
    grid-column: 1;
  }
}

@media (min-width: 768px) {
  section.hero main .container .text h1 {
    font-size: 90px;
    text-align: left;
  }
  section.hero main .container .text hr {
    margin: 0;
  }
  section.hero main .container .text h2 {
    text-align: left;
    font-size: 48px;
  }
  header nav ul{
    justify-content: flex-start;
  }
  header nav ul li:nth-of-type(2) {
    display: block;
  }
  header nav ul li.link {
    display: block;
  }
  header nav ul li.menu-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  section.hero main .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    padding: 43px 15px 100px 15px;
  }
  section.hero main .container img {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    justify-self: flex-end;
    height: 720px;
    width: fit-content;
  }
  section.hero main .container .text {
    grid-column: 1 / span 3;
  }
  section.hero main .container .links {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  section.hero main .container .links div > a {
    display: block;
    font: bold 32px var(--sec-font);
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  section.hero main .container .text h1 {
    font-size: 110px;
  }
}

/* End Header and Hero Section */

/* Start About Section */

section.about .container {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  align-items: center;
}

section.about .container .image {
  position: relative;
}

section.about .container .image img {
  width: 100%;
}

@media (min-width: 768px) {
  section.about .container .image:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 10px solid var(--main-color);
    z-index: -1;
  }
  section.about .container .image {
    margin-left: 25px;
  }
  section.about .container .image img {
    width: fit-content;
  }
}

section.about .container .text {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

section.about .container .text .heading {
  position: relative;
}

section.about .container .text h1 {
  width: fit-content;
  margin: auto;
  padding: 10px;
  padding-bottom: 0;
  background: #fff;
  color: var(--main-color);
  font-size: 42px;
  font-weight: 450;
}

section.about .container .text hr {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

section.about .container .text p {
  font-size: 18px;
  line-height: 1.6;
  font-family: var(--sec-font);
}

section.about .container .text a {
  margin: auto;
}

@media (min-width: 1024px) {
  section.about .container {
    flex-direction: row;
    gap: 100px;
  }
  section.about .container .text {
    gap: 30px;
    text-align: left;
  }
  section.about .container .text h1 {
    margin: 0;
    font-size: 64px;
  }
  section.about .container .text a {
    margin: 0;
  }
}

/* End About Section */

/* Start Experience Section */
.Experience{
  background-color: var(--main-bg-color);
}
.Experience .container{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.Experience .text{
  flex:2;
}
.Experience .image{
  flex: 1;
  position: relative;
  margin-right: 25px;
}
.Experience .image img{
  width: 100%;
  position: relative;
  z-index: 1;
}
.Experience .image::after{
  content: "";
  width: 100%;
  height: 100%;
  left: 25px;
  top: 25px;
  position: absolute;
  box-sizing: border-box;
  border: 10px solid var(--main-color);
}
.Experience .container h2{
  color: var(--main-color);
  font: 450 64px var(--main-font);
  padding-bottom: 5px;
  position: relative;
}
.Experience .container h2::after{
  content: "";
  background-color: black;
  width: 20%;
  left: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.Experience .boxes{
  margin-top:50px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: relative;
  padding-left: 24px;
}
.boxes::before{
  content: "";
  position: absolute;
  height:79%;
  top: -50px;
  width: 2px;
  left: 0;
  background-color: black;
}
.Experience .box p:nth-child(1){
  background-color: var(--main-color);
  font: bold 20px var(--sec-font);
  color: white;
  width: fit-content;
  padding: 10px 15px;
  position: relative;
}
.Experience .box p:nth-child(1)::after{
  content: "";
  background-color: black;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -24px;
  top: 50%;
  transform: translate(-50%,-50%);
}
.Experience .box p:nth-child(1)::before{
  content: "";
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translate(0,-50%);
  border: 15px solid var(--main-color);
  border-color: #f3f3f300 var(--main-color) rgba(255, 255, 0, 0) rgba(255, 0, 0, 0);
}
.Experience .box p:nth-child(2){
  margin: 5px 0px;
  font: bold 20px var(--sec-font);
}
.Experience .box p:nth-child(3){
  font: bold 14px var(--sec-font);
  color: #A47D7D;
}
.Experience .box p:nth-child(4){
  margin: 5px 0px;
  line-height: 26px;
  color: #565656;
  margin-bottom: 40px;
  font: 500 18px var(--sec-font);
}
@media (max-width:1024px){
  .Experience .container h2{
    font-size: 42px;
  }
 .Experience .image{
     flex: 2;
 }
 .boxes::before{
  height: 77%;
 }
}
@media (max-width: 768px){
  .Experience .container{
    flex-direction: column;
    gap: 10px;
  }
  .boxes::before{
    height: 78%;
   }
   .Experience .image::after{
    display: none;
  }
  .Experience .image{
    margin-right:0px;
    
  }
}
/* End Experience Section */

/* Start Services Section */
section.services .container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 50px;
  padding-top: 30px;
}

section.services .container .wrapper .service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 50px;
  background-color: var(--main-bg-color);
  border-top: 2px solid var(--main-color);
  min-width: 318px;
  flex: 1;
  gap: 10px;
}

section.services .container .wrapper .service:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 6px;
  background-color: var(--main-color);
  transition: .5s;
}

section.services .container .wrapper .service:hover:after {
  width: 100%;
}

section.services .container .wrapper .service .icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: var(--main-color);
  color: #fff;
  font-size: 25px;
  z-index: 1000;
}

section.services .container .wrapper .service h2 {
  font: 500 26px var(--main-font);
}

section.services .container .wrapper .service p {
  font: 500 18px var(--sec-font);
  line-height: 1.6;
}

@media (max-width: 600px) {
  section.services .container .wrapper {
    flex-direction: column;
  }

  section.services .container .wrapper .service {
    min-width: 0;
  }
}

/* End Services Section */

/* Start Works Section */
.Works .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 20px;
}
.Works .box {
  display: flex;
}
.Works .box img{
  width: 100%;
}
.Works .main-btn{
  margin: auto;
  margin-top: 40px;
}
@media (max-width: 768px){
  .Works .boxes{
    display: grid;
  }
}
/* End Works Section */
/* Start Contact Section */

section.contact {
  background: var(--main-bg-color);
}

section.contact h1 {
  width: fit-content;
  margin: auto;
  padding: 10px;
  padding-bottom: 0;
  color: var(--main-color);
  font-size: 42px;
  font-weight: 450;
  position: relative;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
}

section.contact .wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

section.contact .wrapper h2 {
  font: 450 30px var(--main-font);
  color: var(--main-color);
  letter-spacing: -4px;
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
}

section.contact .wrapper h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

section.contact .wrapper p:first-of-type {
  font: 500 20px var(--sec-font);
  text-align: center;
  margin-bottom: 40px;
}

section.contact .wrapper form {
  width: 100%;
  display: grid;
  gap: 15px;
  justify-items: flex-end;
}

section.contact .wrapper form input,
section.contact .wrapper .message form textarea {
  padding: 15px;
  font: bold 20px var(--sec-font);
  border: 1px solid var(--main-color);
  outline: none;
  width: 100%;
}

section.contact .wrapper .message form textarea {
  height: 300px;
  resize: none;
}

section.contact .wrapper form button {
  all: unset;
  padding: 5px 15px;
  font: bold 20px var(--sec-font);
  box-shadow: 3px 3px 0 var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: .2s;
}

section.contact .wrapper form button:hover {
  box-shadow: 6px 6px 0 var(--main-color);
}

section.contact .wrapper .separator {
  position: relative;
}

section.contact .wrapper .separator div {
  position: relative;
  margin: auto;
  width: fit-content;
  padding: 15px;
  font-size: 30px;
  background-color: var(--main-bg-color);
  border: 2px solid #000;
}

section.contact .wrapper .separator hr {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #000;
}

section.contact .wrapper .newsletter form {
  margin-bottom: 40px;
}

section.contact .wrapper .newsletter p:nth-of-type(2) {
  font: 500 21px var(--sec-font);
  line-height: 1.6;
  padding-left: 20px;
  position: relative;
}

section.contact .wrapper .newsletter p:nth-of-type(2):before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  section.contact .wrapper .message form {
    grid-template-columns: repeat(2, 1fr);
  }
  section.contact .wrapper .message form input:nth-of-type(3),
  section.contact .wrapper .message form textarea {
    grid-column: 1 / 3;
  }
  section.contact .wrapper .message form button {
    grid-column: 2;
  }
  section.contact .wrapper h2 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  section.contact h1  {
    margin-bottom: 0;
  }
  section.contact h1  {
    font-size: 64px;
  }
  section.contact .wrapper {
    flex-direction: row;
  }
  section.contact .wrapper div:not(.separator) {
    flex: 1;
    margin-top: 40px;
  }
  section.contact .wrapper .separator div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  section.contact .wrapper .separator hr {
    height: 100%;
  }
}

/* End Contact Section */
/* Start Footer */

footer {
  padding: 20px 0;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

footer .container p {
  font: 100 16px var(--sec-font);
  line-height: 1.6;
}

footer .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}

footer .container a {
  color: #fff;
}

footer .container p a {
  border-bottom: 1px solid #fff;
  display: inline-block;
  transition: .2s;
}

footer .container p a:hover {
  transform: translateY(-1px);
}

@media (min-width: 1024px) {
  footer .container {
    flex-direction: row;
  }
}

/* End Footer */